html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  --refRes: 1920;
  font-size: calc(100vw / var(--refRes) * 10);

  @media (max-width: 768px) {
    font-size: 62.5%;
  }
}

body {
  min-width: 320px;
  font-family: 'FuturaPT', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--primary-black);
  background-color: var(--primary-bg);
  position: relative;
  // background-image: url(./../images/tmp/main/bg.png);
  // background-repeat: no-repeat;
  // background-size: 100% auto;

  &:not(.innerPage) {

    &::before {
      content: ' ';
      width: 100%;
      height: 100%;
      background-image: url(./../images/tmp/main/bg.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      position: absolute;
      left: 0;
      top: 0;
      will-change: transform;
      z-index: 0;
    }
  }
}

.no-scroll {
  overflow: hidden;
  height: 100dvh !important;
}

section {
  overflow: hidden;
  margin-bottom: 12rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100dvh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 192rem;
  width: 100%;
  padding: 0 8rem;
  margin: 0 auto;
}

.container-fluid {
  max-width: 192rem;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
  height: 100dvh !important;
}

.section__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  margin-bottom: 5rem;
}

// [data-animation="reveal"] {

//   .word {
//     opacity: 0;
//   }
// }

h1 {
  font-weight: 700;
  font-size: 10rem;
  line-height: 100%;
  color: var(--white);
  text-transform: uppercase;

  span {
    font-weight: 400;
    color: var(--primary-accent);
  }
}

h2 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  color: var(--primary-black);
  font-kerning: none;
}

p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 100%;
}

a {
  transition: all 0.3s ease;
}

/* buttons */
.btn {
  --button-padding-x: 2rem;
  --button-padding-y: 1rem;
  --button-font-size: 1.6rem;
  --button-color: var(--primary-black);
  --button-bgcolor: var(--white);
  --button-border-color: var(--white-30);
  --button-border-radius: 3rem;
  --button-disabled-opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  transition: all 0.3s ease;
  padding: var(--button-padding-y) var(--button-padding-x);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  font-size: var(--button-font-size);
  text-transform: uppercase;
  border-radius: var(--button-border-radius);
}

.btn:hover {
  --button-color: var(--white);
  --button-bgcolor: var(--primary-accent);
}

.btn:disabled {
  opacity: var(--button-disabled-opacity);
}

.btn-accent {
  --button-color: var(--white);
  --button-bgcolor: var(--primary-accent);
}

.btn-accent:hover {
  --button-color: var(--primary-black);
  --button-bgcolor: var(--white);
}

.btn-outline {
  --button-padding-x: 3.15rem;
  --button-color: var(--white);
  --button-bgcolor: transparent;

  border: 0.1rem solid var(--button-border-color);
}

.btn-outline:hover {
  --button-bgcolor: var(--primary-accent);
  --button-border-color: var(--primary-accent);
}

.btn-black {
  --button-color: var(--white);
  --button-bgcolor: var(--primary-black);
}

.btn-black:hover {
  --button-bgcolor: var(--primary-accent);
}

.planshet-block {
  display: none;
}

.mob-block {
  display: none;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: inherit;
  transition: all 0.3s ease;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    line-height: 1;
    color: var(--primary-accent);
    transition: all 0.3s ease;
    margin-right: 0.5rem;
  }

  &:hover {
    color: var(--primary-accent);

    i {
      color: var(--primary-black);
    }
  }
}

.burger {
  // gap: 0.5rem;
  margin-left: 2rem;

  i {
    font-size: 2.4rem;
    margin-left: 0.5rem;
  }
}

/* form-input */
.error {
  display: none;
  font-size: 1rem;
  line-height: 200%;
  padding-left: 2rem;
  color: var(--primary-accent);
}

.form {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  width: 57.1rem;

  &-group {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    i {
      font-size: 2.4rem;
      line-height: 100%;
      color: var(--primary-accent);
      position: absolute;
      right: 2.15rem;
      top: 1.8rem;
    }
  }

  &-bottom {
    display: flex;
    flex-direction: row;
    // gap: 1rem;
  }

  &-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    max-width: 48rem;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: var(--primary-black);
      }
    }
  }

  &-input {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--primary-black);
    text-transform: uppercase;
    width: 100%;
    height: 6rem;
    padding: 1rem 4.55rem 1rem 2.15rem;
    border-radius: 3rem;
    border: 0.1rem solid transparent;
    background-color: var(--white);
    transition: all 0.3s ease;

    &::placeholder {
      color: var(--primary-black);
      transition: all 0.3s ease;
    }

    &:hover {
      border-color: var(--primary-black);
    }

    &:focus,
    &:active {
      color: var(--white);
      border-color: var(--primary-black);
      background-color: var(--primary-black);

      &::placeholder {
        color: var(--white);
      }
    }

    // &:invalid {
    //   color: var(--primary-accent);
    //   border-color: var(--primary-accent);

    //   &~.error {
    //     display: block;
    //   }
    // }
  }

  &-btn {
    margin-bottom: 2rem;
  }

  &-textarea {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--white);
    text-transform: uppercase;
    width: 100%;
    height: 14.7rem;
    overflow: hidden;
    padding: 2.2rem 2.15rem;
    background-color: transparent;
    border: 0.1rem solid var(--white);
    border-radius: var(--border-r-24);
    resize: none;
    transition: all 0.3s ease;

    &::placeholder {
      color: var(--white);
    }
  }

  &-checkbox {
    width: 2.4rem;
    min-width: 2.4rem;
    height: 2.4rem;
    min-height: 2.4rem;
    padding: 0;
    border: 0.4rem solid var(--primary-black);
    border-radius: 50%;
    background: var(--white);
    appearance: none;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;

    &:checked {
      background: var(--primary-accent);
    }
  }

  &-file {
    display: flex;
    align-items: center;
    // gap: 0.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 143%;
    color: var(--white);
    cursor: pointer;
    margin-top: -1rem;

    &:hover {

      i {
        color: var(--primary-black);
      }

      div span {
        text-decoration: none;
        color: var(--primary-black);
      }
    }

    span {
      transition: all 0.3s ease;
      white-space: nowrap;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      // gap: 0.5rem;
      margin-right: 0.8rem;
    }

    div>span {
      text-decoration: underline;
    }

    div+span {
      color: var(--white-50);
      text-decoration: none;
    }

    i {
      display: block;
      font-size: 2.4rem;
      line-height: 100%;
      color: var(--white);
      position: static;
      transition: all 0.3s ease;
      margin-right: 0.5rem;
    }

    &-input {
      display: none;
    }
  }

  &-btn {

    &:hover {
      --button-color: var(--primary-black);
      --button-bgcolor: var(--white);
    }
  }
}

.down {

  &__arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 0.7rem;
    position: absolute;
    bottom: 5.7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;
  }

  &__arrow {
    transition: all 0.3s ease;
    animation-name: arrowDown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    &:not(:last-child) {
      margin-bottom: 0.7rem;
    }

    i {
      font-size: 3.8rem;
      line-height: 0.5;
      color: var(--primary-grey);
    }

    &:nth-child(1) {}

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }
}

@keyframes arrowDown {

  0% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(0.815);
    opacity: 0.8;
  }

  50% {
    transform: scale(0.63);
    opacity: 0.6;
  }

  75% {
    transform: scale(0.815);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.main {

  &__prolog {
    margin-bottom: 3rem;

    h1 {
      font-weight: 700;
      font-size: 4.4rem;
      text-transform: uppercase;
      color: var(--primary-black);
      margin-bottom: 2rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
  }
}