@media (min-width: 1921px) {
  html {
    $ratio: 0;
    font-size: calc(10px + ($ratio * 10) * ((100vw - var(--refRes) * 1px) / var(--refRes)));
  }
}

@media screen and (min-width: 769px) {}

@media (max-width: 1440px) and (min-width: 769px) {}

@media (max-width: 768px) and (min-width: 520px) {}

@media (max-width: 1440px) {
  section {
    margin-bottom: 5rem;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {
  section {
    margin-bottom: 3rem;
  }

  .container {
    padding: 0 4rem;
  }

  .section__head {
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 4.4rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  p {
    font-size: 1.6rem;
  }

  .btn-outline {
    --button-padding-x: 1.95rem;
    --button-font-size: 1.4rem;
    --button-border-radius: 2.5rem;
    height: 5rem;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  .header__wrap {
    display: none;
  }

  .header__logo {
    width: auto;
    height: 4.7rem;
    margin: 0;
  }

  .header__logo-img {
    display: none;
  }

  .header__logo-img--min {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
  }

  .header__btns .btn:not(.burger) {
    display: none;
  }

  .burger {
    width: 5rem;
    height: 5rem;
    padding: 0;
  }

  .burger:not(i) {
    font-size: 0;
    gap: 0;
  }

  .hero {
    overflow: hidden;
  }

  .hero__item {}

  .hero__content {
    height: 72.9rem;
    padding: 12.5rem 15rem 12.5rem 4rem;
    margin-bottom: auto;
  }

  .hero__img {
    width: 100%;
    left: 0;
    // z-index: 12;
  }

  .hero .swiper-buttons {
    display: none;
  }

  .hero__content {
    width: 73.3%;
    clip-path: polygon(100% 0, 100% 0%, 25.8% 100%, 0 100%, 0 0);
    // clip-path: none;
  }

  .hero__title {
    margin-bottom: 3rem;
  }

  .hero__text {
    max-width: 26rem;
    margin-bottom: 3rem;
  }

  .hero__text p {
    font-size: 1.6rem;
  }

  .hero .swiper-pagination {
    bottom: 3rem;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }

  .component--1,
  .component--2,
  .component--3 {
    display: none;
  }

  .component--4 {
    transform: unset;
    top: 9.7rem;
    // left: -47.8rem;
    right: 76.5%;
    left: unset;
    z-index: 11;
    width: 65.8rem;
    height: 114.6rem;
  }

  /* about */
  .about__inner {
    padding: 3rem 2rem;
  }

  .about__title {
    margin-bottom: 2rem;
  }

  .about__title h2 {
    width: auto;
  }

  .about__head .about__text {
    margin-bottom: 3rem;
  }

  .about__head {
    width: 50%;
  }

  .about__body {
    width: 50%;
    gap: 2rem;
  }

  .about p:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  /* features */
  .features__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .features__item {
    padding: 2rem;
    height: fit-content;
    gap: 1rem;
  }

  .features__item-count {
    font-size: 5rem;
  }

  .features__item h3,
  .features__item p {
    font-size: 1.6rem;
  }

  .features__item span {
    top: 0;
    bottom: unset;
  }

  .features__item:hover {
    height: fit-content;
  }

  /* work */
  .work__body {
    gap: 1rem;
  }

  .work__blocks {
    gap: 1rem;
  }

  .work__block {
    padding: 2rem;
  }

  .work__block-count {
    font-size: 3.4rem;
  }

  .work__block-text {
    font-size: 1.6rem;
    margin: 0;
  }

  .work__item-content {
    width: 35.7rem;
    // height: 27rem;
    height: 100%;
    padding: 2rem 2rem 7rem;
    gap: 1rem;
  }

  .work__slide {
    width: calc((100% - 35.7rem) / 4) !important;
  }

  .work__slide.work__slide-active {
    width: 35.7rem !important;
  }

  .work__item-title {
    font-size: 1.6rem;
  }

  .work__item-text {
    font-size: 1.4rem;
  }

  .work__item-count {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
  }

  .work__item-icon {
    display: none;
  }
}

@media (max-width: 660px) {}

@media (max-width: 600px) {

  .container {
    padding: 0 2rem;
  }

  .section__head {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 3.4rem;
  }

  .header__logo {
    height: 3.3rem;
  }

  .hero__content {
    padding: 10rem 0 10rem 2rem;
  }

  /* about */
  .about__inner {
    flex-direction: column;
    padding: 3rem 1rem;
  }

  .about__head {
    width: 100%;
  }

  .about__body {
    width: 100%;
  }

  .about__head .about__text {
    margin-bottom: 2rem;
  }

  /* features */
  .features__item {
    padding: 2rem 1rem;
  }

  /* work */
  .work__blocks {
    flex-direction: column;
  }

  .work__block {
    width: 100%;
  }

  .work__items {
    width: 100%;
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding: 0 2rem;
  }

  .work__items::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .work .swiper-slide {
    width: 26.2rem !important;
    min-width: 26.2rem !important;
    height: auto;
  }

  .work__item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .work .swiper-slide-active {
    width: 26.2rem !important;
  }

  .work .swiper-slide-active .work__item-content {
    // background: linear-gradient(270deg, rgba(0, 0, 0, 0.1) -34.23%, rgba(255, 255, 255, 0) 100%), var(--primary-black);
    background: transparent;
  }


  .work .swiper-slide-active .work__item-count {
    background-color: var(--primary-accent);
  }

  .work .swiper-slide-active .work__item::before {
    width: 100%;
    transition-delay: 0.1s;
  }

  .work__item::before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background-color: var(--primary-black);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.6s ease;
  }

  .work .swiper-slide-active .work__item-title {
    color: var(--white);
    transition-delay: 0.1s;
  }

  .work .swiper-slide-active .work__item-text {
    color: var(--white);
    transition-delay: 0.1s;
  }

  .work__item-content {
    width: 26.2rem;
    z-index: 2;
    background: transparent;
  }
}

@media (max-width: 520px) {}

@media (max-width: 480px) {}

@media (max-width: 380px) {}

@media (max-width: 360px) {}