:root {
    /* color */
    --primary-accent: #F66C4C;
    --primary-black: #32333B;
    --primary-bg: #EBEBF1;
    --white: #ffffff;
    --white-05: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-30: rgba(255, 255, 255, 0.3);
    --black: #000000;

    /* border-radius */
    --border-r-18: 2.4rem;
}