:root {
    /* color */
    --primary-accent: #F66C4C;
    --primary-white: #F1F1F5;
    --primary-sec-white: #F5F5F5;
    --primary-black: #32333B;
    --primary-grey: #D9D9D9;
    --primary-bg: #EBEBF1;
    --white: #ffffff;
    --white-05: rgba(255, 255, 255, 0.05);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-50: rgba(255, 255, 255, 0.5);
    --black: #000000;

    /* border-radius */
    --border-r-24: 2.4rem;
}