.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: all 0.2s linear;

  &.hide {
    transform: translateY(-100%);
  }

  &.out {
    position: fixed;
    background-color: var(--primary-black);

    .header__inner {
      align-items: center;
      padding: 2rem 0;
    }

    .header__logo {
      margin: 0;
      width: 27.5rem;

      &-img {
        display: none;

        &--min {
          display: block;
        }
      }
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    // gap: 1rem;
    position: relative;
    width: fit-content;
  }

  &__social {
    display: flex;
    // gap: 0.5rem;
    margin-right: 1rem;

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.4rem;
      height: 3.4rem;

      &:first-child {
        margin-right: 0.5rem;
      }

      i {
        font-size: 3.4rem;
        line-height: 100%;
        color: var(--primary-accent);
        transition: all 0.3s ease;
      }

      &:hover {

        i {
          color: var(--white);
        }
      }
    }
  }

  &__block {

    &:hover {

      .header__list {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    // gap: 0.5rem;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white);

    &:hover {
      color: var(--primary-accent);

      i {
        transform: scale(1, 1);
        color: var(--white);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      width: 100%;
      height: 1rem;
    }

    i {
      color: var(--primary-accent);
      transform: scale(-1, -1);
      transition: all 0.3s ease;
      margin-right: 0.5rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--white);
    width: 100%;
    padding: 2rem 3rem 3rem;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    left: 0;
    transition: all 0.3s ease;
    transform: translateY(-2rem);
    opacity: 0;
    pointer-events: none;

    li {

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      a {
        display: flex;
        align-items: center;
        // gap: 0.8rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 120%;
        color: inherit;

        &:hover {
          color: var(--primary-accent);

          i {
            opacity: 1;
            transform: translateX(0);
          }
        }

        i {
          font-size: 2.4rem;
          font-weight: 400;
          color: var(--primary-accent);
          opacity: 0;
          transform: translateX(-2rem);
          transition: all 0.2s ease-in-out;
          margin-right: 0.8rem;
        }
      }
    }
  }

  &__logo {
    width: 15.2rem;
    margin-top: -1rem;
    transition: unset;

    &-img {
      width: 100%;
      height: auto;
      object-fit: contain;

      &--min {
        display: none;
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    // gap: 2rem;
    margin-left: auto;
  }
}

.innerPage {

  .main {
    padding-top: 14rem;
  }

  .header {
    position: fixed;
    background-color: var(--primary-black);

    &__inner {
      align-items: center;
      padding: 2rem 0;
    }

    &__logo {
      margin: 0;
      width: 27.5rem;

      &-img {
        display: none;

        &--min {
          display: block;
        }
      }
    }
  }
}