<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="noindex, nofollow" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="./fonts/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./fonts/favicon/favicon.svg" />
  <link rel="shortcut icon" href="./fonts/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./fonts/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Многогранник" />
  <link rel="manifest" href="./fonts/favicon/site.webmanifest" />
  <!-- title -->
  <title>Многогранник</title>
  <!-- styles -->
  <link rel="stylesheet" href="./libs/lenis/lenis.min.css">
  <link rel="stylesheet" href="./libs/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./css/icomoon-style.css">
  <link rel="stylesheet" href="./libs/fancybox/jquery.fancybox.min.css" />
  <link rel="stylesheet" href="./libs/splitting/splitting.css">
  <link rel="stylesheet" href="./libs/splitting/splitting-cells.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- Бургер меню -->
    <!--=include mobile-menu.html-->
    <!-- Шапка сайта -->
    <header class="header" id="header">
      <div class="container header__container">
        <div class="header__inner">
          <div class="header__wrap">
            <div class="header__social">
              <a class="header__social-link" href="/">
                <i class="icon-whatsapp"></i>
              </a>
              <a class="header__social-link" href="/">
                <i class="icon-telegram"></i>
              </a>
            </div>
            <div class="header__block">
              <a class="header__phone" href="tel:+73833759943">
                +7 383 375-99-43
                <i class="icon-chevron-down"></i>
              </a>
              <ul class="header__list">
                <li>
                  <a href="/">
                    <i class="icon-arrow-stroke"></i>
                    Связаться в WhatsApp
                  </a>
                </li>
                <li>
                  <a href="/">
                    <i class="icon-arrow-stroke"></i>
                    Связаться в Telegram
                  </a>
                </li>
                <li>
                  <a href="/">
                    <i class="icon-arrow-stroke"></i>
                    Написать на почту
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <a class="header__logo" href="/">
            <img class="header__logo-img" src="./images/logo/logo.svg" alt="Многогранник">
            <img class="header__logo-img header__logo-img--min" src="./images/logo/logo-min.svg" alt="Многогранник">
          </a>

          <div class="header__btns">
            <a class="btn" href="/">
              Оставить заявку
            </a>
            <a class="burger btn btn-accent" href="/">
              Меню
              <i class="icon-menu"></i>
            </a>
          </div>
        </div>
      </div>
    </header>