<!-- Бургер меню -->
<!--=include mobile-menu.html-->
<!-- Шапка сайта -->
<header class="header" id="header">
  <div class="container header__container">
    <div class="header__inner">
      <div class="header__wrap">
        <div class="header__social">
          <a class="header__social-link" href="https://wa.me/+73833759943">
            <i class="icon-whatsapp"></i>
          </a>
          <a class="header__social-link" href="https://t.me/+73833759943">
            <i class="icon-telegram"></i>
          </a>
        </div>
        <div class="header__block">
          <a class="header__phone" href="tel:+73833759943">
            +7 383 375-99-43
            <i class="icon-chevron-down"></i>
          </a>
          <ul class="header__list">
            <li>
              <a href="https://wa.me/+73833759943">
                <i class="icon-arrow-stroke"></i>
                Связаться в WhatsApp
              </a>
            </li>
            <li>
              <a href="https://t.me/+73833759943">
                <i class="icon-arrow-stroke"></i>
                Связаться в Telegram
              </a>
            </li>
            <li>
              <a href="mailto:mgran2016@yandex.ru">
                <i class="icon-arrow-stroke"></i>
                Написать на почту
              </a>
            </li>
          </ul>
        </div>
      </div>

      <a class="header__logo" href="/Mnogogrannik">
        <img class="header__logo-img" src="./images/logo/logo.svg" alt="Многогранник">
        <img class="header__logo-img header__logo-img--min" src="./images/logo/logo-min.svg" alt="Многогранник">
      </a>

      <div class="header__btns">
        <button class="btn modal__btn" data-title="Оставить заявку"
          data-text="Отправьте заявку и мы свяжемся с вами в ближайшее время" data-id="modal-callback">
          Оставить заявку
        </button>
        <button class="burger btn btn-accent">
          Меню
          <i class="icon-menu"></i>
        </button>
      </div>
    </div>
  </div>
</header>