<aside id="mobile-menu" class="menu lenis" data-lenis-prevent>
  <div class="container">
    <div class="menu__inner">
      <div class="menu__head">
        <ul class="menu__list">
          <li>
            <a href="/">
              Кто мы?
            </a>
          </li>
          <li>
            <a href="/">
              работа с нами
            </a>
          </li>
          <li>
            <a href="/">
              Наши клиенты
            </a>
          </li>
          <li>
            <a href="/">
              Ассортимент товаров
            </a>
          </li>
          <li>
            <a href="/">
              Как мы работаем
            </a>
          </li>
          <li>
            <a href="/">
              Наша миссия
            </a>
          </li>
        </ul>
      </div>
      <div class="menu__foot">
        <div class="menu__foot-item">
          <div class="menu__foot-wrap">
            <p class="menu__foot-title">
              Адрес:
            </p>
            <p class="menu__foot-link">
              630082, г. Новосибирск,
              ул. Дуси Ковальчук, д. 252/1, оф. 201
            </p>
          </div>
          <div class="menu__foot-wrap">
            <p class="menu__foot-title">
              Телефон:
            </p>
            <a class="menu__foot-link" href="tel:+73833759943">
              +7 383 375-99-43
            </a>
          </div>
          <div class="menu__foot-wrap">
            <p class="menu__foot-title">
              Эл. почта:
            </p>
            <a class="menu__foot-link" href="mailto:mgran2016@yandex.ru">
              mgran2016@yandex.ru
            </a>
          </div>
        </div>
        <div class="menu__foot-item">
          <a class="menu__download-item" href="/" download="">
            <i class="icon-download"></i>
            Скачать презентацию о компании
          </a>
          <a class="menu__download-item" href="/" download="">
            <i class="icon-pdf"></i>
            Скачать реквизиты компании
          </a>
          <a class="menu__download-item" href="/" download="">
            <i class="icon-whatsapp"></i>
            Связаться в WhatsApp
          </a>
          <a class="menu__download-item" href="/" download="">
            <i class="icon-telegram"></i>
            Связаться в Telegram
          </a>
        </div>
      </div>
    </div>
  </div>
</aside>