<aside class="menu lenis" id="mobile-menu" data-lenis-prevent>
  <div class="menu__inner">
    <button class="menu__close">
      <span></span>
    </button>
    <div class="menu__head">
      <div class="menu__head-inner">
        <ul class="menu__list">
          <li>
            <a href="/about">
              Кто мы?
            </a>
          </li>
          <li>
            <a href="/withus">
              работа с нами
            </a>
          </li>
          <li>
            <a href="/clients">
              Наши клиенты
            </a>
          </li>
          <li>
            <a href="/catalogs">
              Ассортимент товаров
            </a>
          </li>
          <li>
            <a href="/how">
              Как мы работаем
            </a>
          </li>
          <li>
            <a href="/mission">
              Наша миссия
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu__foot">
      <div class="menu__foot-inner">
        <div class="footer__contact">
          <div class="footer__contact-wrap">
            <span>адрес:</span>
            <div class="footer__contact-text">
              <p>
                630082, г.&nbspНовосибирск,
                ул.&nbspДуси&nbspКовальчук, д.&nbsp252/1, оф.&nbsp201
              </p>
            </div>
          </div>
          <div class="footer__contact-wrap">
            <span>телефон:</span>
            <div class="footer__contact-text">
              <a href="tel:+73833759943">
                +7 383 375-99-43
              </a>
            </div>
          </div>
          <div class="footer__contact-wrap">
            <span>Эл. почта:</span>
            <div class="footer__contact-text footer__contact-mail">
              <a href="mailto:mgran2016@yandex.ru">
                mgran2016@yandex.ru
              </a>
            </div>
          </div>
        </div>
        <div class="footer__items">
          <a class="footer__item" href="/" download="">
            <i class="icon-download"></i>
            <span>
              Скачать презентацию о компании
            </span>
          </a>
          <a class="footer__item" href="/" download="">
            <i class="icon-pdf"></i>
            <span>
              Скачать реквизиты компании
            </span>
          </a>
          <a href="https://wa.me/+73833759943">
            <i class="icon-whatsapp"></i>
            <span>
              Связаться в WhatsApp
            </span>
          </a>
          <a href="https://t.me/+73833759943">
            <i class="icon-telegram"></i>
            <span>
              Связаться в Telegram
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu__overlay"></div>
</aside>