<section class="plate mob-block">
  <div class="container-fluid">
    <div class="plate__inner">
      <button class="plate__btn btn modal__btn" data-title="Оставить заявку"
        data-text="Опишите свой вопрос или задачу в поле комментарий, мы вернемся к вам с подробной консультацией"
        data-id="modal-callback">
        Оставить заявку
      </button>
    </div>
  </div>
</section>

<section class="warning mob-block" id="warning-plate">
  <div class="container warning__container">
    <div class="warning__inner">
      <p class="warning__text">
        Этот сайт использует файлы <a href="/">сооkіе</a>
      </p>
      <button id="warning-btn" class="warning__btn btn">
        Ок
      </button>
    </div>
  </div>
</section>