.privacy {

  &__inner {
    max-width: 117rem;
    width: 100%;
  }

  a.privacy__download:hover {
    text-decoration: none;
  }

  &__download {
    display: flex;
    align-items: center;
    // gap: 1.5rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 1rem;
    width: fit-content;

    &:hover {
      text-decoration-line: none;

      i {
        background-color: var(--white);
        color: var(--primary-accent);
      }

      span {
        text-decoration-line: underline;
      }
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      flex-shrink: 0;
      background-color: var(--primary-accent);
      font-size: 2.2rem;
      color: var(--white);
      margin-right: 1.5rem;
    }

    span {
      color: var(--primary-black);
    }
  }

  &__accent {
    color: var(--primary-accent);
  }

  h2 {
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  p:not(:last-child) {
    margin-bottom: 2rem;
  }

  a {
    color: var(--primary-accent);

    &:hover {
      text-decoration-line: underline;
    }
  }

  strong {
    font-weight: 700;
    font-size: inherit;
  }

  ul {
    padding: 0 0 0 2.4rem;
  }

  li {
    position: relative;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }


    &::before {
      content: "";
      display: block;
      width: 0.44rem;
      height: 0.44rem;
      background-color: var(--primary-black);
      border-radius: 0.22rem;
      position: absolute;
      top: 1rem;
      left: -1.4rem;
    }
  }
}